@font-face {
    font-family: "LondonMN";
    src: url(Fontes/LondonMM.ttf);
}

@font-face {
    font-family: "Aubrey";
    src: url(Fontes/AUBREY1__.TTF);
}

:root {
    --roxo-gamiai: #24054F;
    --azul-gamiai: #22185F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

.banner {
    height: 100vh;

    background-image: linear-gradient(90deg, rgba(36, 5, 79, 1) 0%, rgba(36, 5, 79, 0.8) 100%), url(img/image\ 1.png);
    background-repeat: no-repeat;
    background-position: 165% 40%;
}

header {
    height: 165px;
}

header div.container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 290px;
}

.menu {
    width: 700px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: #00a6ff;

    font-family: "LondonMN";
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: rgb(32, 148, 202);
}

.conteudo-banner {
    height: calc(100vh - 280px);

    display: flex;
    align-items: center;
}



#cases {
    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;
}

#cases h2 {
    margin-bottom: 70px;
}

.container-cards {
    width: 100%;

    display: flex;
    justify-content: space-between;

}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--roxo-gamifica);

    padding-bottom: 20px;
    margin-bottom: 20px;

    border-radius: 4px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.card img {
    height: 55%;
    width: 100%;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card p {
    text-align: left;

    font-family: "LondonMN";
    font-size: 16px;

    padding: 7%;

    color: white;

}

.card button {
    width: 90%;
    height: 40px;

    background-color: var(--roxo-gamiai);

    border: none;
    border-radius: 4px;

    color: white;

    font-family: "Monteserrat";
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;

    transition: backgroud-color 500ms;
}

.card button:hover {
    background-color: #0004ff;
}

#portfolio {
    height: 250px;

    margin-bottom: 120px;

    background-image: url(img/bonecos.png);
    background-size: contain;

    background-repeat: repeat-x;

    background-attachment: fixed;

    position: relative;
}

.card p {
    text-decoration-color: black;
}

